<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)">
    <div class="form-group">
      <label for="name">Name: </label>  <input [ngClass]="{red:!userForm.get('name').valid}" formControlName="name" name="name" placeholder="Your name">
      <span id="ss" *ngIf="!userForm.get('name').valid">   length should be below 20</span>
    </div>
    <div class="form-group">
      <label for="age">Age: </label> <input type="text" name="age" formControlName="age">
    </div>
    <div class="form-group">
      <label for="email">Email: </label>  <input formControlName="email" name="email" placeholder="Your email">
    </div>
    <div class="form-group">
      <label for="country">country: </label> <select name="country" formControlName="country">
        <option value="IN">india</option>
        <option value="PK">pakistan</option>
      </select>
    </div>
    <div class="form-group">
      <label for="mobile">Mobile: </label>  <input formControlName="mobile" placeholder="mobile no">
    </div>

 <button type="submit">Send</button>
</form>
<!-- <table>
  <tr *ngFor= "let var of userForm">
    <td>{{var}}</td>
  </tr>
</table> -->
</body>
</html>